@model IEnumerable<Record>

<h2>Time Recorders</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Duration</th>
            <th>Break Duration</th>
            <th>Break Frequency</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StartTimeStamp</td>
                <td>@item.EndTimeStamp</td>
                <td>@item.Duration</td>
                <td>@item.BreakDuration</td>
                <td>@item.BreakFreaquency</td>
                <td>@item.catagory</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RecorderId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.RecorderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
